div{color:whitesmoke}

body {
    font-family: 'Rubik', sans-serif;
}

/*.suptab{
    background-color: gray;
}*/
.topbutton {
  background-color: #096cb5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 180px;
  padding: 10px 10px;
  margin: 10px 15px;
  font-size:16px;
}

.botonchile {
    background-color: #096cb5;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

button {
    font-family: 'Rubik', sans-serif;
}

#Inicio{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
}

#botoneschile{
    width: 45%;
    margin: 5%;
    font-size: 15px;
    border: 1px solid white;
    padding: 1%;
}

.chart1{
    position: relative;
    border: 1px solid white;
}


/* Menu y Títulos de sección */

#ParteDeArriba{
    display:flex;
}

#TituloSeccion{
    width:100%;
    font-size: 50px;
    color: #e84145;
    justify-self: center;
}

#menu{
    fill: white;
    height:20px;
    width:20px;
}

/* Fin de titulos de sección*/

.bar1 { /*Gráfico 1*/
    fill: #e84145; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;

}
.chart2{
    position: relative; 
    border: 1px solid white;  
}
.bar2 { /*Gráfico 2*/
    fill: #e84145; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;

}
.chart3{
    position: relative;
    border: 1px solid white;
    }
.bar3 { /*Gráfico 3*/
    fill: #e84145; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}
.chart4{
    position: relative;
    border: 1px solid white;
    }
.bar4 { /*Gráfico 4*/
    fill: #e84145; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    }    

.chart5{
    position: relative;
    border: 1px solid white;
    }
.bar5 { /*Gráfico 5*/
    fill: #e84145; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    
    }   
.suptab {
    text-align: center;
    margin: 10px 80px;
}

#inicio1 {
    width: 40%;

}


#senametitulo {
    text-align:center;
    font-size: 60px;

}
#subtitulo {
    text-align: center;
    font-size: 40px;
}
#subsubtitulo {
    text-align: center;
    font-size: 23px;
}
#inicio2 {
    width: 45%;
    font-size: 20px;
    border: 1px solid white;
    margin: 5%;
    padding: 1%;
}
#x {
      font-size: 40px;
      position: relative;
      right: -830px;
      top: -500px;
      opacity: 0;
      font-weight: bolder;
}
#tituloci {
    text-align: center;
    position: relative;
    right: -400px;
    top: -550px;
    width: 400px;
    
    font-size: 40px;
    border: 1px solid white;
    opacity: 0;
    background-color: #212121;
    
}
#explicacionci {
    text-align: center;
    position: relative;
    right: -350px;
    top: -550px;
    width: 500px;
    font-size: 25px;
    border: 1px solid white;
    opacity: 0;
    padding: 5px;
    background-color: #212121;
}
.textoinicio2 {
    text-align: center;
}
   
.textoinicio31 {
    text-align: center;
}
.textoinicio32 {
    text-align: center;
}
#inicio3 {
    width: 45%;
    font-size: 20px;
    border: 1px solid white;
    margin: 5%;
    padding: 1%;
}
.textoinicio3 {
    text-align: center;
    color: rgb(206, 52, 52);
}


#hola{display:inline-block;
    text-align: right;
}
#titulo{
    text-align: left;
    font-size: 25px;
}


#subtit{
    font-size:20px;
    padding: 8px;    
    margin: 8px; 

}

#NinosSuperior{
    display:flex;
}

#NinosInferior{
    display:flex;
}

.niñes {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 70px;
    padding: 20px 10px 0px;
    margin: 0px 15px;
}

.vic {
    display: inline-table;
    text-decoration: none;
    right: -20px;
    top: -90px;
    width: 60px;
    height: 100px;
    font-size: 13px;
    border: 1px solid white;
    padding: 10px 10px;
    margin: 0px 17px;
    text-align: center;
}
.regiones{
    fill: white;
    ;
}

#worldcontainer{
    display: flex;
    height: 450px;
}
#textboxmundo{
    border: solid;
    border-color: white;
    padding:10px;
    margin:20px;
    width: 300px
}

.worldmap{
    color: beige;
}

/*DDHH */

.BotonDerecho{
    text-align: center;
    display: block;
    background-color: grey;
    color: white;
    font-size: 21px;
    width: 350px;
    padding: 8px;    
    margin: 30px 8px 8px;  
}
#derechos{ 
    width:300px;
    display: inline-table;
}
#contenido{
    background-color: rgb(49, 49, 49);
    width: 800px;
    height: 450px;
    display: inline-table;
    padding: 8px;    
    margin: 30px 8px 8px; 
}

#LineaMedio{
    display:inline-table;
    height: 430px;
    width: 8px;
    background-color: lightgray;
    margin:10px;

}
.DDHHdato{
    display:inline-table;
    width: 200px;
    margin:10px;
}

#Porcentaje{
    height:200px;
    font-size: 100px;
    color: rgb(206, 52, 52);
    background-color: rgb(75, 75, 75);
    display: inline-flex;
    justify-content: left;
}

#Lin1{
    height:200px;
    width: 8px;
    background-color: whitesmoke;
    display:inline-table;
    margin:10px;
}
#Dato1{
    font-size: 20px;
    margin:10px 0px 0px 20px;

}
#Dato2{
    font-size: 20px;
}
#precontenido{
    display: inline-block ;
    text-align: center;
    height: 480px;
    width: 600px;
}

/*FIN DDHH*/
/* PAISES DE MATI */

#pais_desc{
    font-size: 1vw;
}

.Canada{
    fill:#ececec;
}

/*.Australia{
    fill:#ececec;
}*/

.Chile2{
    fill:#ececec;
}

.United_States{
    fill:#ececec;
}

/* FIN DE LOS PAISES DE MATI */

#subtitex {
    font-size: 40px;
    text-align: center;
}

#ContenedorIniciativa {
    display:flex;
    margin:auto;
    width: 60%;
    padding: 50px;
}

#iniciativa1{
    border:solid 3px;
    border-color:white;
    padding: 20px;
    margin:10px;
    text-align: center;
    width: 30%;
}

#iniciativacentro{
    border:solid;
    border-color:white;
    padding: 20px;
    margin:10px;
    text-align: center;
    width: 40%;
}

#iniciativa2{
    border:solid 3px;
    border-color:white;
    padding: 20px;
    margin:10px;
    text-align: center;
    width: 30%;
}


