div{color:whitesmoke}

.topbutton {
  background-color: #096cb5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 180px;
  padding: 10px 10px;
  margin: 10px 15px;
  font-size:16px;
}
.chart{
    position: relative;
}
.bar {
    fill: #e84145; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    }
    .bar text {
    color: white;
    }
    .bar:hover,
    .bar:focus {
    fill: white;
    }
    .bar:hover text,
    .bar:focus text {
    fill:white;
    }

.suptab {
    text-align: center;
    margin: 10px 80px;
}

#inicio1 {
    position: relative;
    right:  -700px;
    top: 50px;
    width: 500px;

}


#senametitulo {
    text-align:center;
    font-size: 60px;

}
#subtitulo {
    text-align: center;
    font-size: 40px;
}
#subsubtitulo {
    text-align: center;
    font-size: 23px;
}
#inicio2 {
    position: relative;
    right: -32px;
    top: -270px;
    width: 200px;
    font-size: 20px;
    border: 1px solid white;
}
#x {
      font-size: 40px;
      position: relative;
      right: -830px;
      top: -500px;
      opacity: 0;
      font-weight: bolder;
}
#tituloci {
    text-align: center;
    position: relative;
    right: -400px;
    top: -550px;
    width: 400px;
    height: 130px;
    font-size: 40px;
    border: 1px solid white;
    opacity: 0;
    background-color: #212121;
    
}
#explicacionci {
    text-align: center;
    position: relative;
    right: -350px;
    top: -550px;
    width: 500px;
    font-size: 25px;
    border: 1px solid white;
    opacity: 0;
    padding: 5px;
    background-color: #212121;
}
.textoinicio2 {
    text-align: center;
}
   
.textoinicio31 {
    text-align: center;
}
.textoinicio32 {
    text-align: center;
}
#inicio3 {
    position: absolute;
    right: 1020px;
    top: 460px;
    width: 200px;
    font-size: 20px;
    border: 1px solid white;
}
.textoinicio3 {
    text-align: center;
}

#Chile {
    position: absolute;
    right: 700px;
    top: 130px;
}


#hola{display:inline-block;
    text-align: right;
}
#titulo{
    text-align: left;
    font-size: 25px;
}

#tit{
    font-size: 50px;
    padding: 8px;    
    margin: 8px; 

}
#subtit{
    font-size: 20px;
    padding: 8px;    
    margin: 8px; 

}
.niñes {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 70px;
    padding: 10px 10px;
    margin: 10px 15px;
}
.vic {
    display: inline-table;
    text-decoration: none;
    right: -20px;
    top: -90px;
    width: 60px;
    height: 100px;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 10px;
    margin: 10px 15px;
    text-align: center;
}
.regiones{
    fill: white;
    ;
}


#worldcontainer{
    display: flex;
    height: 450px;
}
.textboxmundo{
    display: inline-block;
    border: solid;
    border-color: white;
    height:400px;
}

.worldmap{
    color: beige;
}
/*cosas de Ari*/
.BotonDerecho{
    text-align: left;
    display: block;
    background-color: grey;
    color: white;
    font-size: 26px;
    width: 350px;
    padding: 8px;    
    margin: 30px 8px 8px;  
}
#derechos{ 
    width:300px;
    display: inline-table;
}
#contenido{
    background-color: rgb(49, 49, 49);
    width: 600px;
    height: 400px;
    display: inline-table;
}

#LineaMedio{
    display:inline-table;
    height: 500px;
    width: 8px;
    background-color: lightgray;
    margin:10px;

}
.DDHHdato{
    display:inline-table;
    width: 200px;
}

#Porcentaje{
    height:200px;
    font-size: 200;
    color: rgb(206, 52, 52);
    background-color: rgb(75, 75, 75);
    margin: 0 30 0 0;
}

#Lin1{
    height:200px;
    width: 8px;
    background-color: whitesmoke;
    display:inline-table;
    margin:10px;
}
#Dato1{
    font-size:40;
    margin:10 0 0 20;

    
}
/* PAISES DE MATI */

.Canada{
    fill:lightgreen;
}

.Australia{
    fill:lightgreen;
}

.Chile2{
    fill:lightgreen;
}

.United_States{
    fill:lightgreen;
}

/* FIN DE LOS PAISES DE MATI */